@font-face {
    font-family: PFHandbookProET;
    src: url("../../fonts/PFHandbookProExtraThin.ttf");
}

@font-face {
    font-family: OpenSansBold;
    src: url("../../fonts/78tyOo6r.ttf");
}

@font-face {
    font-family: OpenSansExtrabold;
    src: url("../../fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("../../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: journal;
    src: url("../../fonts/journal.ttf");
}

@font-face {
    font-family: OpenSansItalic;
    src: url("../../fonts/mprG0aks.ttf");
}

/*# sourceMappingURL=dist.fonts.css.map */
