@font-face {
    font-family: PFHandbookProET;
    src: url("../../fonts/PFHandbookProExtraThin.ttf");
}

@font-face {
    font-family: OpenSansBold;
    src: url("../../fonts/78tyOo6r.ttf");
}

@font-face {
    font-family: OpenSansExtrabold;
    src: url("../../fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("../../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: journal;
    src: url("../../fonts/journal.ttf");
}

@font-face {
    font-family: OpenSansItalic;
    src: url("../../fonts/mprG0aks.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgba(218, 218, 218, 1);
    overflow-x: hidden;
}

.bg-dell {
    margin: 0 auto;
    width: 1200px;
    height: 225px;
    background: url("/img/dell.png") no-repeat center;
    background-size: 100%;
}

.bg-coffee {
    width: 180px;
    height: 180px;
    background: url("/img/fuckingCup.png") no-repeat center;
    background-size: 100%;
    margin: -20px 0 0  calc(100% / 2 + 570px);
}

.bg-coffee2 {
    width: 120px;
    height: 120px;
    background: url("/img/fuckingCup.png") no-repeat center;
    background-size: 100%;
    margin: 20px 0 0  calc(100% / 2 + 270px);
}

.bg-mac {
    width: 730px;
    height: 700px;
    background: url("/img/macFull.png") no-repeat center;
    background-size: 100%;
    margin: -290px 0 0  calc(100% / 2 - 1385px);
}

.bg-stylus {
    height: 220px;
    width: 35px;
    background: url("/img/stylus.png") no-repeat center;
    background-size: 100%;
    margin: -465px 0 0  calc(100% / 2 - 670px);
}

.bg-glass {
    width: 240px;
    height: 90px;
    background: url("/img/glass.png") no-repeat center;
    background-size: 100%;
    margin: -80px 0 0  calc(100% / 2 + 775px);
}

.bg-glass2 {
    width: 217px;
    height: 80px;
    background: url("/img/glass.png") no-repeat center;
    background-size: 100%;
    -webkit-transform: rotate(-21deg);
        -ms-transform: rotate(-21deg);
            transform: rotate(-21deg);
    margin: -170px 0 0  -245px;
}

.bg-pencils {
    width: 79px;
    height: 250px;
    background: url("/img/pencils.png") no-repeat center;
    background-size: 100%;
    margin: 125px 0 0  calc(100% / 2 + 760px);
}

.bg-pencil {
    width: 25px;
    height: 250px;
    background: url("/img/pencil.png") no-repeat center;
    background-size: 99%;
    margin: -145px 0 0 calc(50% + 310px);
}

.bg-hdd-bottom {
    width: 200px;
    height: 191px;
    background: url("/img/hdd.png") no-repeat center;
    background-size: 100%;
    margin: -192px 0 0 calc(100% / 2 - 950px);
}

.bg-notebook-bottom {
    width: 560px;
    height: 187px;
    background: url("/img/notebook.png") no-repeat center;
    background-size: 100%;
    margin: -55px 0 0 calc(100% / 2 - 120px);
}

.bg-pens-bottom {
    width: 74px;
    height: 196px;
    background: url("/img/pens.png") no-repeat center;
    background-size: 100%;
    margin: -194px 0 0  calc(100% / 2 + 490px);
}

/*--------------------------------  */

.wrapper {
    margin: -720px auto 0;
    width: 960px;
    height: 750px;
    position: relative;
}

.bottom {
    background: #e7e7e7;
    height: 132px;
    width: 100%;
    border-top: 1px solid #bebdbc;
}

.company-name p {
    color: #333;
    margin: 0 0 -10px 0;
    font-size: 90pt;
    font-family: PFHandbookProET;
}

.sub-title fieldset {
    margin: 0 auto 0 auto;
    padding: 0;
    border-top: 1px solid #333;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    width: 750px;
}

.sub-title legend {
    padding: 0 10px;
    font-family: OpenSansBold;
    font-size: 15pt;
    color: #333;
}

.btn-container {
    width: 120px;
    height: 29px;
    margin: 14px auto;
}

.btn-container a {
    float: left;
    margin: 0 5px;
    width: 30px;
    height: 29px;
    display: block;
    background: url("/img/sprite.png") no-repeat;
    background-size: 300%;
}

.btn-container a.phone {
    background-position: 0 0;
}

.btn-container a.phone:hover {
    background-position: 0 -29px;
}

.btn-container a.message {
    background-position: -30px 0;
}

.btn-container a.message:hover {
    background-position: -30px -29px;
}

.btn-container a.icon {
    background-position: -60px 0;
}

.btn-container a.icon:hover {
    background-position: -60px -29px;
}

/* ----------------------------------- */

.img-container {
    margin-top: 110px;
}

.iphone {
    height: 250px;
    width: 130px;
    background: url("/img/iphone2.png") no-repeat center;
    background-size: 100%;
    margin: 0 0 0 calc(50% - 160px);
}

.ipad {
    height: 385px;
    width: 328px;
    background: url("/img/ipad.png") no-repeat center;
    background-size: 100%;
    margin: -325px 0 0 calc(50% - 40px);
}

.ipad img {
    height: 100%;
}

.center {
    text-align: center;
}

.nav-line {
    margin-bottom: 150px;
}

.nav-line > div:first-child,
.nav-line > div:last-child {
    width: calc(100% / 2 - 100px);
    height: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    position: relative;
}

.nav-line > div:nth-child(2) {
    width: 200px;
    height: 50px;
    float: left;
    position: relative;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.nav-line .about {
    background: url("/img/about.png") no-repeat center;
    background-size: 7%;
}

.experience {
    background: url("/img/experience.png") no-repeat center;
    background-size: 7%;
}

.skills {
    background: url("/img/skills.png") no-repeat center;
    background-size: 20%;
}

.skills::before {
    z-index: 3;
    left: -70px;
    content: "";
    position: absolute;
    width: 70px;
    height: 50px;
    background: url("/img/arrow.png") no-repeat center;
}

.skills::after {
    z-index: 3;
    right: -26px;
    content: "";
    position: absolute;
    width: 70px;
    height: 50px;
    background: url("/img/arrow.png") no-repeat center;
}

/* ---------       ABOUT      --------- */

.aboutContent {
    width: 745px;
    margin: 0 auto 150px;
}

.aboutHeader {
    width: 745px;
    display: inline-block;
    font-family: OpenSansExtrabold;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: -20px;
    color: #333;
}

.aboutText p {
    color: #666;
    text-align: justify;
    font-size: 19px;
    font-family: OpenSans;
}

.aboutAuthor {
    margin-top: -15px;
    color: #333;
    font-size: 42px;
    font-family: journal;
    text-align: right;
}

.aboutPen {
    background: url("/img/aboutPen.png") no-repeat center;
    margin-left: 80px;
    width: 365px;
    height: 50px;
    background-size: 100%;
}

/* --------        EXPERIENCE        --------- */

.experienceContent {
    display: none;
    height: 500px;
    width: 406px;
    margin: 0 auto 170px;
}

.experienceHeader {
    width: 100%;
    display: inline-block;
    font-family: OpenSansExtrabold;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: -10px;
    color: #333;
}

.tables {
    margin: 0 auto;
    display: table;
}

.row {
    display: table-row;
}

.cell {
    content: "";
    width: 100px;
    height: 140px;
    display: table-cell;
    border: 2px solid #ccc;
    border-bottom: 0;
}

.cellItalic {
    margin: -137px 0 0 -100px;
    width: 300px;
    font-family: OpenSansItalic;
}

.cellItalic2 {
    margin: -137px 0 0 -100px;
    width: 300px;
    font-family: OpenSansItalic;
}

.cellItalic p,
.cellItalic2 p {
    color: #4a4643;
    text-align: right;
    font-size: 13px;
    margin-right: 25px;
}

.cellItalic p:nth-child(2) {
    margin-top: 27px;
}

.cellItalic2 p:nth-child(2) {
    margin-top: 33px;
}

.cellItalic2 p:nth-child(3) {
    margin-top: 35px;
}

.cellItalic p:nth-child(3) {

    margin-top: 16px;
}

.cell:first-child {
    border-right: 0;
    border-left: 0;
}

.cell:last-child {
    border-right: 0;
}


.circle {
    margin-top: -115px;
    margin-left: calc(50% - 10px);
    content: "";
    width: 16px;
    height: 16px;
    background: #e1e1e1;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.circle2 {
    margin-left: calc(50% - 10px);
    margin-top: 32px;
    content: "";
    width: 16px;
    height: 16px;
    background: #e1e1e1;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.circle3 {
    margin-left: calc(50% - 10px);
    margin-top: 32px;
    content: "";
    width: 16px;
    height: 16px;
    background: #e1e1e1;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.interiorCircle {
    margin: 2px auto;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #c3af94;
}

.cell2 {
    font-family: OpenSans;
    margin: -147px 0 0 203px;
    width: 350px;
    height: 170px;
}

.cell2 p,
.cell3 p {
    font-weight: bold;
    color: #4a4643;
    text-align: left;
    font-size: 13px;
    margin-left: 25px;
    margin-bottom: 34px;
}

.cell3 {
    font-family: OpenSans;
    margin: -135px 0 0 203px;
    width: 350px;
    height: 170px;
}

/* --------           SKILLS           --------- */

.skillContent {
    display: none;
    width: 800px;
    height: 580px;
    margin: 0 auto;
    padding-top: 20px;
}

.line {
    border-radius: 2px;
    width: 130px;
    height: 27px;
    background: rgba(225, 225, 225, 1);
    border: 1px solid rgba(190, 189, 188, 1);
    margin-bottom: 10px;
}

.lineInterior {
    position: relative;
    z-index: 2;
    margin-top: -23px;
    position: relative;
    background: rgba(195, 175, 148, 1);
    height: 100%;
}

.inner {
    position: relative;
    z-index: 3;
    margin-top: 6px;
    margin-left: 7px;
    font-weight: 600;
    font-size: 12px;
    font-family: OpenSans;
}

.cPP {
    width: 80%;
}

.STL {
    width: 70%;
}

.cSh {
    width: 60%;
}

.java {
    width: 60%;
}

.objectiveC {
    width: 75%;
}

.swift {
    width: 3%;
}

.php {
    width: 90%;
}

.js {
    width: 85%;
}

.html {
    width: 55%;
}

.css {
    width: 55%;
}

.skillTable {
    display: table;
}

.mySql {
    width: 90%;
}

.msSql {
    width: 86%;
}

.sqlLite {
    width: 55%;
}

.row {
    display: table-row;
}

.programming,
.web,
.database,
.additional {
    display: table-cell;
    width: 200px;
}

.programming span:first-child,
.web span:first-child,
.database span:first-child,
.additional span:first-child {
    font-family: OpenSansExtrabold;
    text-transform: uppercase;
    display: block;
    color: #333;
}

.programming span:last-child,
.web span:last-child,
.database span:last-child,
.additional span:last-child {
    display: block;
    font-family: OpenSansItalic;
    font-size: 12px;
    color: #333;
    margin-bottom: 25px;
}

.markerContainer {
    height: 20px;
    line-height: 20px;
}

.marker {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    background: rgba(225, 225, 225, 1);
    border: 1px solid rgba(190, 189, 188, 1);
    float: left;
    line-height: 20px;
    margin: 2px 10px 0 0;
}

.markerContainer .title {
    font-family: OpenSans;
    font-size: 12px;
    display: inline-block;
}

.additional {
}

.marker .inner {
    margin: 2px 2px;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: rgba(195, 175, 148, 1);
}

@media all and (max-width: 1366px) {
    .bg-dell {
        margin: 0 auto;
        width: 900px;
    }

    .bg-coffee {
        width: 130px;
        height: 130px;
        margin: -50px 0 0  calc(100% / 2 + 420px);
    }

    .bg-mac {
        width: 500px;
        height: 460px;
        margin: -200px 0 0  calc(100% / 2 - 970px);
    }

    .bg-stylus {
        width: 22px;
        height: 130px;
        margin: -305px 0 0  calc(100% / 2 - 485px);
    }

    .bg-glass {
        width: 170px;
        height: 57px;
        margin: -50px 0 0  calc(100% / 2 + 560px);
    }

    .bg-pencils {
        width: 55px;
        height: 210px;
        margin: 60px 0 0  calc(100% / 2 + 560px);
    }

    .bg-hdd-bottom {
        width: 160px;
        height: 154px;
        margin: -154px 0 0  calc(100% / 2 - 675px);
    }

    .bg-notebook-bottom {
        width: 399px;
        height: 133px;
        margin: -38px 0 0  calc(100% / 2 - 80px);
    }

    .bg-pens-bottom {
        width: 57px;
        height: 149px;
        margin: -149px 0 0  calc(100% / 2 + 380px);
    }

    /* ---------------------------------------------- */

    .wrapper {
        margin: -500px auto 0;
        height: 500px;
    }

    .bottom {
        height: 95px;
    }

    .company-name p {
        font-size: 60pt;
    }

    .sub-title fieldset {
        margin: 0 auto;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        width: 515px;
        padding: 0;
    }

    .sub-title legend {
        font-size: 13pt;
    }

    .iphone {
        width: 110px;
        height: 180px;
        background-size: 100%;
        margin-left: calc(100% / 2 - 145px);
    }

    .ipad {
        width: 240px;
        height: 280px;
        margin-top: -226px;
        margin-left: calc(100% / 2 - 25px);
    }

    .img-container {
        padding-top: 56px;
        position: absolute;
        margin-top: 10px;
        width: 100%;
    }

    .nav-line {
        margin-top: 30px;
        margin-bottom: 120px;
    }

    .aboutContent {
        width: 555px;
        margin: 0 auto 150px;
    }

    .aboutHeader {
        font-family: OpenSansExtrabold;
        width: 555px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: -20px;
        color: #333;
    }

    .aboutText p {
        color: #666;
        text-align: justify;
        font-size: 14px;
        font-family: OpenSans;
    }

    .aboutAuthor {
        margin-top: -15px;
        color: #333;
        font-size: 33px;
        font-family: journal;
        text-align: right;
    }

    .aboutPen {
        margin-left: 60px;
        width: 275px;
        height: 37px;
        background-size: 100%;
    }
}

@media all and (max-width: 1200px) {
    .bg-coffee {
        margin-left: calc(100% / 2 + 400px);
    }

    .bg-mac {
        margin: -250px 0 0 calc(100% / 2 - 850px);
    }

    .bg-stylus {
        height: 130px;
        margin: -320px 0 0 calc(100% / 2 - 365px);
    }

    .bg-hdd-bottom {
        width: 160px;
        height: 154px;
        background: url("/img/hdd.png") no-repeat center;
        background-size: 100%;
        margin: -154px 0 0 calc(100% / 2 - 675px);
    }

    .bg-pens-bottom {
        width: 57px;
        height: 149px;
        background: url("/img/pens.png") no-repeat center;
        background-size: 100%;
        margin: -149px 0 0 calc(100% / 2 + 380px);
    }

    .bg-notebook-bottom {
        width: 400px;
        height: 135px;
        background: url("/img/notebook.png") no-repeat;
        background-size: 100%;
        margin: -40px 0 0 calc(100% / 2 - 80px);
    }
}

@media all and (max-width: 1100px) {
    .bg-coffee {
        margin-left: calc(100% / 2 + 330px);
    }

    .bg-mac {
        margin: -250px 0 0 calc(100% / 2 - 850px);
    }

    .bg-stylus {
        height: 130px;
        margin: -320px 0 0 calc(100% / 2 - 365px);
    }

    .company-name p {
        font-size: 55pt;
    }

    .sub-title fieldset {
        width: 470px;
    }
}

@media all and (max-width: 959px) {
    .bg-coffee,
    .bg-mac,
    .bg-stylus {
        display: none;
    }

    .wrapper {
        margin-top: -70px;
    }
}

/*# sourceMappingURL=dist.style.css.map */
